<!-- Note all closing divs in this file is important. Do Not Take Any Out! -->

<%- include('head.ejs') %>
        <%- include('navigation-head.ejs') %>
                <a href="/trader" class="btn btn-secondary" style="margin-left: 10px">
                    <p class="m-0">Go To Traders Page</p>
                </a>
            </div>
            <%- include('navigation-end.ejs') %>
        </div>
<%- include('end.ejs') %>