<body>
    <div class="theme-dark">        
        <div class="header row align-items-center justify-content-between">
        <div>
        <img src="./HODLINFO.png" class="logo" />
        </div>
        <div class="d-flex">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                INR
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">INR</a>
            </div>
        </div>
        <div class="dropdown" style="margin-left: 10px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BTC
            </button>
            <div class="dropdown-menu">
                <a value="BTC" tabindex="0" role="menuitem" class="dropdown-item" href="/BTC-INR">BTC</a>
                <a value="USDT" tabindex="1" role="menuitem" class="dropdown-item" href="/USDT-INR">USDT</a>
                <a value="XRP" tabindex="0" role="menuitem" class="dropdown-item" href="/XRP-INR">XRP</a>
                <a value="TRX" tabindex="0" role="menuitem" class="dropdown-item" href="/TRX-INR">TRX</a>
                <a value="TRX" tabindex="0" role="menuitem" class="dropdown-item" href="/TRX-INR">TRX</a>
                <a value="DASH" tabindex="0" role="menuitem" class="dropdown-item" href="/DASH-INR">DASH</a>
                <a value="ZEC" tabindex="0" role="menuitem" class="dropdown-item" href="/ZEC-INR">ZEC</a>
                <a value="XEM" tabindex="0" role="menuitem" class="dropdown-item" href="/XEM-INR">XEM</a>
                <a value="IOST" tabindex="0" role="menuitem" class="dropdown-item" href="/IOST-INR">IOST</a>
                <a value="WIN" tabindex="0" role="menuitem" class="dropdown-item" href="/WIN-INR">WIN</a>
                <a value="BTT" tabindex="0" role="menuitem" class="dropdown-item" href="/BTT-INR">BTT</a>
                <a value="WRX" tabindex="0" role="menuitem" class="dropdown-item" href="/WRX-INR">WRX</a>
            </div>
        </div>

        <a href="/buy-btc" class="btn btn-secondary" style="margin-left: 10px">
            <p class="m-0">Buy BTC</p>
        </a>